@import "_variables";
@import "_mixins";
body {
    background: $bg;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 32px;
}
a {
    margin-bottom: 20px;
    &:nth-child(odd) {
        @include link("odd");
    }
    &:nth-child(even) {
        @include link("even");
    }
}
